.App {
  max-width: 1100px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex-basis: 28vh;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  flex-basis: auto;
}

section {
  background-color: #feffe3;
  padding: 20px;

}

@media screen and (max-width: 1100px) {
  html {
    font-size: .7rem;
    padding: 10px
  }

  header {
    flex-basis: 15vh;
  }

}

@media screen and (max-width: 551px) {
  aside {
    min-width: 85px;
  }
}